body {
    background-color: var(--color-primary);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.login-form {
    background-color: var(--color-white);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}



.login-form h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}


.login-form .form-group label {
    font-size: 0.9rem;
    text-align: left;
}

img {
    max-width: 150px;
    height: 150px;
}